{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte existe pour votre adresse email, alors un email vient de vous être envoyé pour réinitialiser votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
